<!doctype html>
{% load static %}
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <div class="container">
      <div class="logo-menu">
        <div class="logo">
          <h1>ByteCode</h1>
        </div>
        <div class="menu">
          <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="">Services</a></li>
            <li><a href="">Products</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            <li><a href="">Register</a></li>
          </ul>
        </div>
      </div>

      <div class="slider">
        <img src="{% static 'imgs/slide1.webp' %}" />
      </div>

      <div class="main-box">
        <div class="box">
          <img src="{% static 'imgs/p1.jpeg' %}" />
        </div>
        <div class="box">
          <img src="{% static 'imgs/p2.jpeg' %}" />
        </div>
        <div class="box">
          <img src="{% static 'imgs/p3.jpeg' %}" />
        </div>
      </div>

      <div class="footer">
        <p>This website maintain by ByteCode &copy;2026</p>
      </div>
    </div>
  </body>
</html>
